<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @assignment.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @assignment.integer %>
</p>

<p>
  <strong>Role:</strong>
  <%= @assignment.role_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @assignment.integer %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
